@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-slate-950: #020617;
}

/* Global styles */
html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 15px;
}

body {
    background-color: #f8fafc;
    /* slate-50 */
    color: #0f172a;
    /* slate-900 */
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.dark body {
    background-color: #020617;
    /* slate-950 */
    color: #f1f5f9;
    /* slate-100 */
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
}

:is(.dark) ::-webkit-scrollbar-thumb {
    @apply bg-slate-800;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
}

:is(.dark) ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
}

/* Chart container */
.chart-container {
    aspect-ratio: 16 / 9;
}